body{
	background-image: url(../images/background.jpg);
	font-family: arial;
	text-align: center;
}
h1{
	background-color: #dc143c;
}
h3{
	background-color: #dc143c;
}
#trivia{
	background-color: #dc143c;
}
footer{
	background-color: #dc143c;
}
#results{
	background-color: yellow;
}